body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 750px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
html {
  font-size: 14px;
}
@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
}
a {
  text-decoration: none;
}
body {
  font-family: 'Noto Sans', sans-serif;
  color: #cccccc;
}
.main-header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg-main-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-header .h-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-header .h-content .h_cap_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 30px);
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.main-header .h-content .h_cap_wrap .h-caption {
  display: block;
  font-family: 'Monsterrat', sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.main-header .h-content .h_desc_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 30px);
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header .h-content .h_desc_wrap .h-description {
  display: block;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 750px) {
  .main-header .h-content .h_cap_wrap,
  .main-header .h-content .h_desc_wrap {
    width: calc(80% - 30px);
  }
}
@media (max-width: 425px) {
  .main-header .h-content .h_cap_wrap,
  .main-header .h-content .h_desc_wrap {
    width: 100%;
  }
}
.logo {
  display: block;
  text-align: center;
  line-height: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.09, 0.83, 0.51, 0.98);
  transition: opacity 0.5s cubic-bezier(0.09, 0.83, 0.51, 0.98);
}
.logo:hover {
  opacity: 0.7;
}
.menu-burger {
  position: fixed;
  display: none;
  right: 10px;
  top: 50px;
  font-size: 30px;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  z-index: 20;
  text-shadow: 0px 2px 7px #000000;
  cursor: pointer;
}
@media (max-width: 750px) {
  .menu-burger {
    display: inline-block;
  }
}
.main-navigation-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-navigation-list .nav-item {
  padding-left: 30px;
}
.main-navigation-list .nav-item a {
  display: inline-block;
  padding: 5px;
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.3s cubic-bezier(0.09, 0.83, 0.51, 0.98);
  transition: color 0.3s cubic-bezier(0.09, 0.83, 0.51, 0.98);
}
.main-navigation-list .nav-item a:hover {
  color: #ee2f1b;
}
@media (max-width: 750px) {
  .main-navigation .main-navigation-list {
    position: absolute;
    right: 0;
    width: 100%;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity 0.3s cubic-bezier(0.09, 0.83, 0.51, 0.98);
    transition: opacity 0.3s cubic-bezier(0.09, 0.83, 0.51, 0.98);
  }
  .main-navigation .main-navigation-list.block {
    height: auto;
    opacity: 1;
    text-align: center;
  }
  .main-navigation .main-navigation-list .nav-item {
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-navigation .main-navigation-list .nav-item:last-child {
    border: none;
  }
  .main-navigation .main-navigation-list .nav-item a {
    display: block;
    padding: 20px 0;
    background-color: #888888;
    -webkit-transition: background-color 0.3s cubic-bezier(0.09, 0.83, 0.51, 0.98);
    transition: background-color 0.3s cubic-bezier(0.09, 0.83, 0.51, 0.98);
  }
  .main-navigation .main-navigation-list .nav-item a:hover {
    background-color: #fff;
  }
}
@media (max-width: 750px) {
  .main-navigation {
    position: fixed;
    width: 100%;
    right: 0;
    top: 100px;
    z-index: 20;
  }
}
.caption {
  position: relative;
  margin-bottom: 3rem;
  font-family: 'Monsterrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 900;
  letter-spacing: -2px;
  color: #222222;
  text-transform: uppercase;
}
.services {
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 6rem;
  text-align: center;
}
.services-caption {
  position: relative;
  margin-bottom: 70px;
  letter-spacing: -2px;
  color: #222222;
}
.services-caption::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 110px;
  left: calc(50% - 55px);
  bottom: -20px;
  background-color: #78d6fa;
}
.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.services-item {
  width: 300px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services-item > img {
  margin-bottom: 30px;
}
.services-item-name {
  margin-bottom: 10px;
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}
.services-item-content {
  font-size: 14px;
  line-height: 18px;
  color: #888888;
}
.expertise {
  position: relative;
  width: 100%;
  padding: 6rem 0 6rem 0px;
  background-color: #f7f7f7;
  background-position: 200% 30%;
  background-size: contain;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.expertise .expertise-right-img {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  background-image: url(../img/expertise.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.expertise-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 10;
}
@media screen and (max-width: 750px) {
  .expertise-wrapper {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.expertise .content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
  padding-left: 30px;
}
@media screen and (max-width: 750px) {
  .expertise .content {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 750px) {
  .expertise .content {
    width: calc(100% - 10px);
  }
}
@media (max-width: 425px) {
  .expertise .content {
    padding-left: 0;
    text-align: center;
  }
}
.expertise .caption {
  margin-bottom: 2rem;
  font-family: 'Monsterrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 900;
  letter-spacing: -2px;
  color: #222222;
  text-transform: uppercase;
}
.expertise .description {
  margin-bottom: 30px;
  font-size: 14px;
  color: #888888;
}
.expertise-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.expertise-list-item {
  position: relative;
  width: 50%;
  padding-left: 30px;
  padding-right: 25px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.expertise-list-item .item-caption {
  position: relative;
  margin-bottom: 1rem;
  font-family: 'Monsterrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.4px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}
.expertise-list-item .icon {
  position: absolute;
  display: block;
  content: '';
  width: 42px;
  height: 39px;
  top: 0;
  left: -15px;
  background-position: top center;
  background-repeat: no-repeat;
}
.expertise-list-item .item-description {
  color: #777777;
  font-size: 14px;
}
@media (max-width: 560px) {
  .expertise-list-item {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .expertise-list-item {
    padding-left: 45px;
    padding-right: 15px;
  }
  .expertise-list-item .icon {
    left: 0;
  }
}
@media (max-width: 750px) {
  .expertise .expertise-right-img {
    display: none;
  }
}
.expertise-btn {
  display: inline-block;
  padding: 20px 35px;
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #ceeefa;
  border-radius: 40px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.2s ease-in-out 0s;
  transition: 0.2s ease-in-out 0s;
}
.expertise-btn:hover {
  color: #fff;
  background-color: #35c2f8;
}
.amazing {
  position: relative;
  width: 100%;
  padding: 6rem 0;
}
@media (max-width: 970px) {
  .amazing {
    text-align: center;
  }
}
.amazing .amazing-right-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45%;
  background: url(../img/amazing.png) no-repeat;
  background-position: left center;
  z-index: 1;
}
@media (max-width: 970px) {
  .amazing .amazing-right-img {
    display: none;
  }
}
.amazing .amazing-content {
  max-width: 530px;
  font-size: 14px;
  letter-spacing: -0.4px;
  text-align: left;
  color: #777777;
  background-image: url(../img/amazing-portfolio.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  z-index: 5;
}
@media (max-width: 970px) {
  .amazing .amazing-content {
    margin: 0 auto;
  }
}
.amazing .amazing-content-top {
  margin-bottom: 35px;
}
.amazing .amazing-content-bottom {
  margin-bottom: 40px;
}
.amazing .amazing-content .amazing-item {
  position: relative;
  padding-left: 45px;
  margin-bottom: 30px;
}
.amazing .amazing-content .amazing-item:last-child {
  margin-bottom: 0;
}
.amazing .amazing-content .amazing-item .item-caption {
  margin-bottom: 1rem;
  font-family: 'Monsterrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.4px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}
.amazing .amazing-content .amazing-item .icon {
  position: absolute;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
}
.portfolio {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}
.portfolio-item {
  position: relative;
  height: 335px;
  width: 33.3%;
  display: block;
  font-size: 0;
}
@media (max-width: 970px) {
  .portfolio-item {
    height: 300px;
  }
}
@media (max-width: 750px) {
  .portfolio-item {
    height: 190px;
  }
}
@media (max-width: 425px) {
  .portfolio-item {
    width: 50%;
    height: 170px;
  }
}
.portfolio-item div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out 0s;
  transition: 0.2s ease-in-out 0s;
}
.portfolio-item div:hover {
  z-index: 10;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75);
}
.about-us {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
}
.about-us-caption {
  position: relative;
  margin-bottom: 8rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}
.about-us-caption::before {
  position: absolute;
  display: block;
  content: "";
  bottom: -25px;
  left: calc(50% - 55px);
  width: 110px;
  height: 1px;
  background-color: #35c2f8;
}
.about-us .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-us .about-item {
  width: 850px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 970px) {
  .about-us .about-item {
    width: 100%;
  }
}
.about-us .about-item:last-child {
  margin-bottom: 0;
}
.about-us .about-item:last-child::before {
  display: none;
}
.about-us .about-item::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: calc(50% - 1.5px);
  width: 3px;
  height: 300px;
  background-color: #f1f1f1;
}
@media (max-width: 750px) {
  .about-us .about-item::before {
    display: none;
  }
}
.about-us .about-item .item-name {
  position: absolute;
  width: 300px;
}
.about-us .about-item .item-name > span {
  display: block;
  font-family: 'Monsterrat', sans-serif;
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #222222;
  text-transform: uppercase;
}
.about-us .about-item .item-name > p {
  font-size: 14px;
  margin-top: 16px;
  letter-spacing: -0.4px;
  color: #777777;
}
@media (max-width: 970px) {
  .about-us .about-item .item-name {
    width: 38%;
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@media (max-width: 750px) {
  .about-us .about-item .item-name {
    width: 55%;
  }
}
.about-us .about-item .item-img {
  position: relative;
  width: 168px;
  height: 168px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 6px solid #f1f1f1;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 970px) {
  .about-us .about-item .item-img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 750px) {
  .about-us .about-item .item-img {
    width: 100px;
    height: 100px;
  }
}
.about-us .about-item .item-img-con {
  width: 168px;
  height: 168px;
}
.about-us .about-item .about-continues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 35px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.4px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  background-color: #35c2f8;
  -webkit-transition: 0.2s ease-in-out 0s;
  transition: 0.2s ease-in-out 0s;
}
.about-us .about-item .about-continues:hover {
  color: #222222;
  background-color: #fff;
}
.about-us .about-item .left {
  left: 0;
  text-align: right;
}
.about-us .about-item .right {
  right: 0;
  text-align: left;
}
@media (max-width: 750px) {
  .about-us .about-item {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .about-us .about-item .item-name {
    position: relative;
  }
  .about-us .about-item .left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
.awesome-team {
  width: 100%;
  padding: 6rem 0 6rem 0px;
  background-color: #f7f7f7;
  text-align: center;
}
.awesome-team-caption {
  margin-bottom: 8rem;
}
.awesome-team-caption::before {
  position: absolute;
  display: block;
  content: "";
  bottom: -25px;
  left: calc(50% - 55px);
  width: 110px;
  height: 1px;
  background-color: #35c2f8;
}
.awesome-team .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.awesome-team .team-list .team-item {
  margin: 0 2% 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 750px) {
  .awesome-team .team-list .team-item {
    width: 100%;
  }
}
.awesome-team .team-list .team-item .foto {
  margin-bottom: 2rem;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 7px solid  #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.awesome-team .team-list .team-item .name {
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #222222;
}
.awesome-team .team-list .team-item .function {
  font-size: 14px;
  margin-bottom: 0.7rem;
}
.awesome-team .team-list .team-item .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.awesome-team .team-list .team-item .social-list .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
}
.awesome-team .team-list .team-item .social-list .social a .fa {
  font-size: 20px;
  color: #fff;
}
.awesome-team .team-list .team-item .social-list .social a:hover {
  background-color: #fff;
}
.awesome-team .team-list .team-item .social-list .social a:hover .fa {
  color: #000;
}
.awesome-team .awesome-desc {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-align: center;
  color: #777777;
}
@media (max-width: 750px) {
  .awesome-team .awesome-desc {
    width: 80%;
  }
}
.main-footer {
  width: 100%;
  padding-top: 8rem;
  background-color: #111111;
  text-align: center;
}
.main-footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 750px) {
  .main-footer .footer-wrapper {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.main-footer .footer-wrapper .contact {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media screen and (max-width: 750px) {
  .main-footer .footer-wrapper .contact {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 970px) {
  .main-footer .footer-wrapper .contact {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 750px) {
  .main-footer .footer-wrapper .contact {
    width: calc(66.66666666666667% - 10px);
  }
}
.main-footer .footer-wrapper .contact-caption {
  color: #fff;
  letter-spacing: -1px;
}
.main-footer .footer-wrapper .contact .message {
  margin-bottom: 3rem;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.4px;
  color: #fff;
  text-align: left;
}
.main-footer .footer-wrapper .contact .contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-footer .footer-wrapper .contact .contacts-block .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  padding-left: 20px;
  width: 220px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-footer .footer-wrapper .contact .contacts-block .contacts .fa {
  margin-right: 10px;
  font-size: 30px;
}
@media (max-width: 750px) {
  .main-footer .footer-wrapper .contact .contacts-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 970px) {
  .main-footer .footer-wrapper .contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.main-footer .footer-wrapper .contact-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66666666666667% - 30px);
  text-align: left;
}
@media screen and (max-width: 750px) {
  .main-footer .footer-wrapper .contact-form {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 970px) {
  .main-footer .footer-wrapper .contact-form {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 750px) {
  .main-footer .footer-wrapper .contact-form {
    width: calc(66.66666666666667% - 10px);
  }
}
@media screen and (max-width: 425px) {
  .main-footer .footer-wrapper .contact-form {
    width: calc(100% - 10px);
  }
}
@media (max-width: 750px) {
  .main-footer .footer-wrapper .contact-form {
    text-align: center;
  }
}
.main-footer .footer-wrapper .contact-form .form-name,
.main-footer .footer-wrapper .contact-form .form-email,
.main-footer .footer-wrapper .contact-form .form-ta {
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-footer .footer-wrapper .contact-form .form-name::-webkit-input-placeholder,
.main-footer .footer-wrapper .contact-form .form-email::-webkit-input-placeholder,
.main-footer .footer-wrapper .contact-form .form-ta::-webkit-input-placeholder {
  font-size: 14px;
  color: #bbbbbb;
}
.main-footer .footer-wrapper .contact-form .form-name:-ms-input-placeholder,
.main-footer .footer-wrapper .contact-form .form-email:-ms-input-placeholder,
.main-footer .footer-wrapper .contact-form .form-ta:-ms-input-placeholder {
  font-size: 14px;
  color: #bbbbbb;
}
.main-footer .footer-wrapper .contact-form .form-name::-ms-input-placeholder,
.main-footer .footer-wrapper .contact-form .form-email::-ms-input-placeholder,
.main-footer .footer-wrapper .contact-form .form-ta::-ms-input-placeholder {
  font-size: 14px;
  color: #bbbbbb;
}
.main-footer .footer-wrapper .contact-form .form-name::placeholder,
.main-footer .footer-wrapper .contact-form .form-email::placeholder,
.main-footer .footer-wrapper .contact-form .form-ta::placeholder {
  font-size: 14px;
  color: #bbbbbb;
}
.main-footer .footer-wrapper .contact-form .form-name,
.main-footer .footer-wrapper .contact-form .form-email,
.main-footer .footer-wrapper .contact-form .form-ta {
  margin-bottom: 25px;
}
.main-footer .footer-wrapper .contact-form .form-sub {
  display: inline-block;
  margin-bottom: 50px;
  padding: 20px 35px;
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  border-radius: 40px;
  border: none;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  color: #fff;
  text-transform: uppercase;
  background-color: #35c2f8;
  -webkit-transition: 0.2s ease-in-out 0s;
  transition: 0.2s ease-in-out 0s;
  text-align: left;
  cursor: pointer;
}
.main-footer .footer-wrapper .contact-form .form-sub:hover {
  color: #222222;
  background-color: #fff;
}
.main-footer .copyright {
  display: inline-block;
  margin: 30px 0;
  text-align: center;
}
